<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
<meta charset="UTF-8">
<title>Employees Page</title>
</head>
<body>
	<div class="container">
		<nav th:replace="layouts :: navbar"></nav>
		<h2>Employees Directory</h2>
		<hr>
		<a th:href="@{/employees/new}" class="btn btn-primary">New
			Employee</a> <br>
		<br>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Employee First Name</th>
					<th scope="col">Employee Last Name</th>
					<th scope="col">Employee Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="anEmployee : ${employeesList}">
					<td th:text="${anEmployee.firstName}"></td>
					<td th:text="${anEmployee.lastName}"></td>
					<td th:text="${anEmployee.email}"></td>
				</tr>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>